<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Affixes</title>
</head>
<body>
<div id="nav">
    <div id="nav-wrapper">
        <ul>
            <li><a href="#">item #1</a></li>
            <li><a href="#">item #2</a></li>
            <li><a href="#">item #3</a></li>
            <li><a href="#">item #4</a></li>
            <li><a href="#">item #5</a></li>
        </ul>
    </div>
</div>

<div id="wrapper">
    <div id="content">
        <h3>This is a heading!</h3>
        <p>You're learning how to create a fixed horizontal navigation menu!</p>
    </div>
</div>
</body>
</html>